{
  "openapi": "3.1.0",
  "info": {
    "title": "Squad API",
    "version": "4.8.0",
    "description": "API for managing Squad resources",
    "contact": {
      "name": "Squad Support",
      "url": "https://www.meetsquad.ai/support",
      "email": "help@meetsquad.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.meetsquad.ai",
      "description": "Production server"
    },
    {
      "url": "https://uat.api.meetsquad.ai",
      "description": "Staging server"
    },
    {
      "url": "https://dev.api.meetsquad.ai",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Organisations"
    },
    {
      "name": "Workspaces"
    },
    {
      "name": "Goals"
    },
    {
      "name": "Opportunities"
    },
    {
      "name": "Solutions"
    },
    {
      "name": "Feedback"
    },
    {
      "name": "Submit Feedback"
    },
    {
      "name": "Insights"
    },
    {
      "name": "Knowledge"
    },
    {
      "name": "Metrics"
    },
    {
      "name": "Topics"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "AI & Search"
    },
    {
      "name": "Onboarding"
    }
  ],
  "paths": {
    "/organisations": {
      "post": {
        "operationId": "createOrganisation",
        "summary": "Create new organisation",
        "description": "Creates a new organisation",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganisationPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organisation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing a single organisation",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Organisation data",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "description": "Name of the organisation",
                          "example": "Acme Corporation",
                          "type": "string"
                        },
                        "stripeCustomerId": {
                          "description": "Stripe customer ID for billing",
                          "example": "cus_1234567890",
                          "type": "string"
                        },
                        "homepageUrl": {
                          "description": "URL to the organisation's homepage",
                          "example": "https://acme.example.com",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "logoUrl": {
                          "description": "URL to the organisation's logo",
                          "example": "https://acme.example.com/logo.png",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "description": "Creation timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "accountType": {
                          "description": "Account type",
                          "example": "HOBBY",
                          "$ref": "#/components/schemas/OrganisationAccountTypeEnum"
                        },
                        "billingCycleStartDate": {
                          "description": "The start date of the current billing cycle.",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "billingCycleFlexCreditAllowance": {
                          "description": "Number of flex credits available at the start of the current billing cycle.",
                          "example": 100000,
                          "type": "number"
                        },
                        "updatedAt": {
                          "description": "Last update timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "status": {
                          "description": "Status of the organisation",
                          "example": "ACTIVE",
                          "default": "ACTIVE",
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "ARCHIVED"
                          ]
                        },
                        "unprocessedFeedbackCount": {
                          "description": "Number of unprocessed insight items",
                          "example": 123,
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "createdAt",
                        "accountType",
                        "billingCycleStartDate",
                        "billingCycleFlexCreditAllowance",
                        "updatedAt",
                        "status",
                        "unprocessedFeedbackCount"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bad Request - Invalid input parameters or missing required fields",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid",
                          "type": "string"
                        },
                        "fields": {
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ],
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "validationErrors": {
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          },
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrganisations",
        "summary": "List organisations",
        "description": "Lists all organisations accessible to the authenticated user",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing an array of organisations",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Array of organisations",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "description": "Name of the organisation",
                            "example": "Acme Corporation",
                            "type": "string"
                          },
                          "stripeCustomerId": {
                            "description": "Stripe customer ID for billing",
                            "example": "cus_1234567890",
                            "type": "string"
                          },
                          "homepageUrl": {
                            "description": "URL to the organisation's homepage",
                            "example": "https://acme.example.com",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "logoUrl": {
                            "description": "URL to the organisation's logo",
                            "example": "https://acme.example.com/logo.png",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "description": "Creation timestamp",
                            "example": "2025-03-26T22:35:46Z",
                            "type": "string"
                          },
                          "accountType": {
                            "description": "Account type",
                            "example": "HOBBY",
                            "$ref": "#/components/schemas/OrganisationAccountTypeEnum"
                          },
                          "billingCycleStartDate": {
                            "description": "The start date of the current billing cycle.",
                            "example": "2025-03-26T22:35:46Z",
                            "type": "string"
                          },
                          "billingCycleFlexCreditAllowance": {
                            "description": "Number of flex credits available at the start of the current billing cycle.",
                            "example": 100000,
                            "type": "number"
                          },
                          "updatedAt": {
                            "description": "Last update timestamp",
                            "example": "2025-03-26T22:35:46Z",
                            "type": "string"
                          },
                          "status": {
                            "description": "Status of the organisation",
                            "example": "ACTIVE",
                            "default": "ACTIVE",
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "ARCHIVED"
                            ]
                          },
                          "unprocessedFeedbackCount": {
                            "description": "Number of unprocessed insight items",
                            "example": 123,
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "createdAt",
                          "accountType",
                          "billingCycleStartDate",
                          "billingCycleFlexCreditAllowance",
                          "updatedAt",
                          "status",
                          "unprocessedFeedbackCount"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}": {
      "get": {
        "operationId": "getOrganisation",
        "summary": "Get organisation by ID",
        "description": "Retrieves a specific organisation by ID",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing a single organisation",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Organisation data",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "description": "Name of the organisation",
                          "example": "Acme Corporation",
                          "type": "string"
                        },
                        "stripeCustomerId": {
                          "description": "Stripe customer ID for billing",
                          "example": "cus_1234567890",
                          "type": "string"
                        },
                        "homepageUrl": {
                          "description": "URL to the organisation's homepage",
                          "example": "https://acme.example.com",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "logoUrl": {
                          "description": "URL to the organisation's logo",
                          "example": "https://acme.example.com/logo.png",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "description": "Creation timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "accountType": {
                          "description": "Account type",
                          "example": "HOBBY",
                          "$ref": "#/components/schemas/OrganisationAccountTypeEnum"
                        },
                        "billingCycleStartDate": {
                          "description": "The start date of the current billing cycle.",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "billingCycleFlexCreditAllowance": {
                          "description": "Number of flex credits available at the start of the current billing cycle.",
                          "example": 100000,
                          "type": "number"
                        },
                        "updatedAt": {
                          "description": "Last update timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "status": {
                          "description": "Status of the organisation",
                          "example": "ACTIVE",
                          "default": "ACTIVE",
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "ARCHIVED"
                          ]
                        },
                        "unprocessedFeedbackCount": {
                          "description": "Number of unprocessed insight items",
                          "example": 123,
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "createdAt",
                        "accountType",
                        "billingCycleStartDate",
                        "billingCycleFlexCreditAllowance",
                        "updatedAt",
                        "status",
                        "unprocessedFeedbackCount"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Organisation not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Not Found - The requested resource does not exist",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "NOT_FOUND",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateOrganisation",
        "summary": "Update organisation",
        "description": "Updates a specific organisation by ID",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganisationPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organisation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing a single organisation",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Organisation data",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "description": "Name of the organisation",
                          "example": "Acme Corporation",
                          "type": "string"
                        },
                        "stripeCustomerId": {
                          "description": "Stripe customer ID for billing",
                          "example": "cus_1234567890",
                          "type": "string"
                        },
                        "homepageUrl": {
                          "description": "URL to the organisation's homepage",
                          "example": "https://acme.example.com",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "logoUrl": {
                          "description": "URL to the organisation's logo",
                          "example": "https://acme.example.com/logo.png",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "description": "Creation timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "accountType": {
                          "description": "Account type",
                          "example": "HOBBY",
                          "$ref": "#/components/schemas/OrganisationAccountTypeEnum"
                        },
                        "billingCycleStartDate": {
                          "description": "The start date of the current billing cycle.",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "billingCycleFlexCreditAllowance": {
                          "description": "Number of flex credits available at the start of the current billing cycle.",
                          "example": 100000,
                          "type": "number"
                        },
                        "updatedAt": {
                          "description": "Last update timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "status": {
                          "description": "Status of the organisation",
                          "example": "ACTIVE",
                          "default": "ACTIVE",
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "ARCHIVED"
                          ]
                        },
                        "unprocessedFeedbackCount": {
                          "description": "Number of unprocessed insight items",
                          "example": 123,
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "createdAt",
                        "accountType",
                        "billingCycleStartDate",
                        "billingCycleFlexCreditAllowance",
                        "updatedAt",
                        "status",
                        "unprocessedFeedbackCount"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bad Request - Invalid input parameters or missing required fields",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid",
                          "type": "string"
                        },
                        "fields": {
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ],
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "validationErrors": {
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          },
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Organisation not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Not Found - The requested resource does not exist",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "NOT_FOUND",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganisation",
        "summary": "Delete organisation",
        "description": "Deletes a specific organisation by ID",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          }
        ],
        "responses": {
          "200": {
            "description": "Organisation deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing a success message",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Success message data",
                      "type": "object",
                      "properties": {
                        "message": {
                          "description": "Success message",
                          "example": "Organisation deleted successfully",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Organisation not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Not Found - The requested resource does not exist",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "NOT_FOUND",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/status": {
      "get": {
        "operationId": "getOrganisationStatus",
        "summary": "Get organization status",
        "description": "Retrieves the current status and subscription information of an organization",
        "tags": [
          "Squad"
        ],
        "x-hidden": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Organization status response",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Organization status data",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "description": "Name of the organisation",
                          "example": "Acme Corporation",
                          "type": "string"
                        },
                        "stripeCustomerId": {
                          "description": "Stripe customer ID for billing",
                          "example": "cus_1234567890",
                          "type": "string"
                        },
                        "homepageUrl": {
                          "description": "URL to the organisation's homepage",
                          "example": "https://acme.example.com",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "logoUrl": {
                          "description": "URL to the organisation's logo",
                          "example": "https://acme.example.com/logo.png",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "description": "Creation timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "accountType": {
                          "description": "Account type",
                          "example": "HOBBY",
                          "$ref": "#/components/schemas/OrganisationAccountTypeEnum"
                        },
                        "billingCycleStartDate": {
                          "description": "The start date of the current billing cycle.",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "billingCycleFlexCreditAllowance": {
                          "description": "Number of flex credits available at the start of the current billing cycle.",
                          "example": 100000,
                          "type": "number"
                        },
                        "updatedAt": {
                          "description": "Last update timestamp",
                          "example": "2025-03-26T22:35:46Z",
                          "type": "string"
                        },
                        "status": {
                          "description": "Status of the organisation",
                          "example": "ACTIVE",
                          "default": "ACTIVE",
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "ARCHIVED"
                          ]
                        },
                        "hasRemainingCredits": {
                          "description": "Whether the organization has remaining credits",
                          "example": true,
                          "type": "boolean"
                        },
                        "billingCycleCreditAllowance": {
                          "description": "The number of credits available for the current billing cycle",
                          "example": 250,
                          "type": "number"
                        },
                        "billingCycleCreditUsage": {
                          "description": "The number of credits used in the current billing cycle so far",
                          "example": 100,
                          "type": "number"
                        },
                        "billingCycleFlexCreditUsage": {
                          "description": "The number of flex credits used in the current billing cycle so far",
                          "example": 100,
                          "type": "number"
                        },
                        "currentBillingCycleStartDate": {
                          "description": "The date the current billing cycle started",
                          "example": "2025-06-24",
                          "type": "string"
                        },
                        "currentBillingCycleEndDate": {
                          "description": "The date the current billing cycle will end",
                          "example": "2025-06-24",
                          "type": "string"
                        },
                        "totalMembers": {
                          "description": "The total number of members in the organization",
                          "example": 10,
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "createdAt",
                        "accountType",
                        "billingCycleStartDate",
                        "billingCycleFlexCreditAllowance",
                        "updatedAt",
                        "status",
                        "hasRemainingCredits",
                        "billingCycleCreditAllowance",
                        "billingCycleCreditUsage",
                        "billingCycleFlexCreditUsage",
                        "currentBillingCycleStartDate",
                        "currentBillingCycleEndDate",
                        "totalMembers"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Not Found - The requested resource does not exist",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "NOT_FOUND",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/whoami": {
      "get": {
        "operationId": "whoAmI",
        "summary": "Retrieve authenticated user's organization and workspace information",
        "description": "Returns the ID and name of the authenticated user's organization and workspace. This is only callable by an API key which is workspace scoped.",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoAmIResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces": {
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create new workspace",
        "description": "Creates a new workspace for the specified organization",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspacePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing a single workspace",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Workspace data",
                      "$ref": "#/components/schemas/Workspace"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bad Request - Invalid input parameters or missing required fields",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid",
                          "type": "string"
                        },
                        "fields": {
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ],
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "validationErrors": {
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          },
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List workspaces",
        "description": "Lists all workspaces for the specified organization",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing an array of workspaces",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Array of workspaces",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "Get workspace by ID",
        "description": "Retrieves a specific workspace by ID",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          },
          {
            "in": "path",
            "name": "workspaceId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing a single workspace",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Workspace data",
                      "$ref": "#/components/schemas/Workspace"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Not Found - The requested resource does not exist",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "NOT_FOUND",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWorkspace",
        "summary": "Update workspace",
        "description": "Updates a specific workspace by ID",
        "tags": [
          "Squad"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
          },
          {
            "in": "path",
            "name": "workspaceId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspacePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response containing a single workspace",
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Workspace data",
                      "$ref": "#/components/schemas/Workspace"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bad Request - Invalid input parameters or missing required fields",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid",
                          "type": "string"
                        },
                        "fields": {
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ],
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "validationErrors": {
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          },
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Unauthorized - Missing or invalid authentication token",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forbidden - Insufficient permissions to access this resource",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "User is unauthorised",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Not Found - The requested resource does not exist",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "NOT_FOUND",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Internal Server Error - An unexpected error occurred on the server",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR",
                          "type": "string"
                        },
                        "description": {
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkspace",
        "summary": "Delete workspace",
        "description": "Deletes a specific workspace by ID",
[...]
